{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="row">
    <div class="col-md-8">
        <img src="{% static track.image %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About <strong>{{ track.title }}</strong>:</h5>
        <p>{{ track.description }}</p>
        <br>
        <h5>Software used:</h5>
        <p>{{ track.version }}</p>
        <h5>Play here:</h5>
          <div class="controls">
            <button class="btn btn-primary" onclick="wavesurfer.playPause()">
              <i class="fa fa-play"></i>
              Play
              /
              <i class="fa fa-pause"></i>
              Pause
            </button>
          </div>
          <div id="waveform">
            <!-- <progress id="progress" class="progress progress-striped" value="0" max="100"></progress> -->
          </div>
    </div>
</div>
<script src="https://unpkg.com/wavesurfer.js"></script>
<script>
    var ctx = document.createElement('canvas').getContext('2d');
    var linGrad = ctx.createLinearGradient(0, 64, 0, 200);
    linGrad.addColorStop(0.5, 'rgba(255, 255, 255, 1.000)');
    linGrad.addColorStop(0.5, 'rgba(183, 183, 183, 1.000)');
    var wavesurfer = WaveSurfer.create({
         container: '#waveform',
         waveColor: linGrad,
         progressColor: 'hsla(200, 100%, 30%, 0.5)',
         cursorColor: '#fff',
         barWidth: 3
     });

     var song = '{% static track.file %}'
     wavesurfer.load(song);
</script>
{% endblock %}
